
# Environment variables
.env
.env.*
!.env.example

# OS files
Desktop.ini
desktop.ini
.DS_Store
Thumbs.db

# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
build/
**/build/

# Office temporary files
~$*
